<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="header :: header_scripts ('Data Upload')"  />
<body role="document" class="withOverflow ">
    <nav th:replace="header :: header_nav_bar"/>
    <div class="container ocdu-container">

        <div id="new_upload_section" class="jumbotron container-fluid reducedPadding">
            <h2 class="step-title">Upload new data</h2>
            <div id="progression-section" hidden><span class="loader"></span><div class="progress-text">Uploading and checking data ...</div></div>
            <form id="upload-session-form" class="form-horizontal">
                <div class="form-group" id="upload-session-name">
                    <label for="upload-session-input">* Give your submission a name:</label>
                    <input id="upload-session-input" type="text" name="uploadsession"  maxlength="50"/>
                </div>
            </form>

            <form id="upload-file-form" class="form-horizontal">
                <div class="form-group" id="upload-file-name">
                    <label for="upload-file-input">* Select data file:</label>
                    <input id="upload-file-input" type="file" name="uploadfile" accept="*"/>
                </div>
            </form>

            <!--<form id="upload-mapping-form" class="form-horizontal">-->
                <!--<div class="form-group">-->
                    <!--<label for="upload-mapping-input">Select mapping file:</label>-->
                    <!--<input id="upload-mapping-input" type="file" name="uploadmapping" accept="*" />-->
                <!--</div>-->
            <!--</form>-->

            <button type="button" class="btn btn-primary" id="data-proceed-btn" onclick="uploadFile()">Next</button>
            <br/><br/><br/>
            <span id="message-board"></span>
        </div>

        <div id="old_upload_section" class="jumbotron container-fluid reducedPadding">
            <span id="old_upload_section_togglable">
                <h2>Resume previous uploads</h2>
            </span>
            <div id="session_container" class="row-fluid">
            </div>
        </div>

    </div>

    <script th:src="@{/data-upload.js}"></script>
    <div th:replace="footer :: footer"></div>
</body>
</html>

