<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header_scripts ('Upload data to OpenClinica')"  />
<body>
<nav th:replace="header :: header_nav_bar"/>
<div id="odm-upload-container" class="container ocdu-container scrolling-container" style="margin-top: 52px; padding-top: 1px;">
    <form id="upload-odm-template-form">

        <div id="title-div">
            <h2 id="step-title">Upload data</h2>
        </div>
        <div id="progression-section"><span class="loader"></span><div class="progress-text">Uploading data to OpenClinica ...</div></div>
        <div id="upload-result">
            <div id="contact-information" class="alert-danger" style="display: none;" th:text="#{application.contact.for.errors}"></div>
        </div>
        <div id="odm-upload-div" class="jumbotron container-fluid reducedPadding">

            <h4>Options</h4>

            <div>Please select the status after upload</div>
            <hr/>
            <div>CRF Status After Upload</div>
            <div class="radio">
                <label><input id="statusAfterUpload_1" type="radio" name="CRFStatusAfterUpload"
                              value="initial data entry"
                              checked>Data Entry Started</label>
            </div>
            <div class="radio">
                <label><input id="statusAfterUpload_2" type="radio" name="CRFStatusAfterUpload" value="complete">Data
                    Entry
                    Complete</label>
            </div>
            <hr/>
            <div>Upload if CRF has status in OpenClinica</div>
            <div class="checkbox">
                <label><input id="upsertUponCRFStatus_1" type="checkbox" name="upsertUponCRFStatus"
                              value="notStarted" checked>Not started</label>
            </div>
            <div class="checkbox">
                <label><input id="upsertUponCRFStatus_2" type="checkbox" name="upsertUponCRFStatus"
                              value="dataEntryStarted">Data Entry Started (existing CRF data will be overwritten)</label>
            </div>
            <div class="checkbox">
                <label><input id="upsertUponCRFStatus_3" type="checkbox" name="upsertUponCRFStatus"
                              value="dataEntryComplete">Data Entry Complete (existing CRF data will be overwritten)</label>
            </div>
        </div>
        <div id="buttonDiv" class="scrolling-container">
            <button type="button" class="btn btn-primary aligned-btn-primary" id="odm-upload-back-btn" onclick="odmUploadBackBtnHandler()">
                Back
            </button>
            <button type="button" class="btn btn-primary aligned-btn-primary" id="odm-upload-proceed-btn"
                    onclick="odmUploadNextBtnHandler()">
                Upload
            </button>
            <br/><br/><br/>
        </div>
    </form>
</div>
<script th:src="@{/odm-upload.js}"></script>
<div th:replace="footer :: footer"></div>
</body>
</html>
