<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="header :: header_scripts ('Final checks pre-upload')"  />
<body role="document">
<div class="container ocdu-container">
    <nav th:replace="header :: header_nav_bar"/>
    <div>
        <h2 class="step-title">Pre-upload overview</h2>
    </div>
    <div>
        <h4>Overview of any remaining validation errors and problems. Please review this list and press Next if you want to proceed.</h4>
    </div>

    <div id="progression-section" hidden><span class="loader"></span><div class="progress-text">Performing final checks before upload ...</div></div>

    <div id="feedback-tables">

    </div>

    <hr>
    <button type="button" class="btn btn-primary aligned-btn-primary" id="data-feedback-back-btn" onclick="backBtnHandler()">Back</button>
    <button type="button" class="btn btn-primary aligned-btn-primary" id="data-feedback-proceed-btn" onclick="feedbackNext()">Next</button>
    <br><br><br>

</div>

<script th:src="@{/pre-odm-upload.js}"></script>
<div th:replace="footer :: footer"></div>
</body>
</html>


