<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="header :: header_scripts ('Subjects')"  />
<body>
    <nav th:replace="header :: header_nav_bar"/>
    <div id="subject-registration-container" class="container ocdu-container scrolling-container">
        <div id="subject-registration-div" class="jumbotron container-fluid reducedPadding">
            <h2 class="form-step-title">Subjects</h2>
            <div id="progression-section" hidden><span class="loader"></span><div class="progress-text">Checking subjects ...</div></div>
        </div>
    </div>


    <script th:src="@{/subjects-registration.js}"></script>
    <div th:replace="footer :: footer"></div>
</body>
</html>
